<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Visa管理システム 登録データトサイト</title>
</head>
<body>
    <nav>
        <h1>Bチーム　ビザ期限管理システム</h1>
        <div class="people">
            <p><span>PHAN VAN HUYNH</span><span>2</span></p>
            <p><span>3</span><span>4</span></p>
            <p>5</p>
        </div>
        <div class="thanks">コロシアムとは会社内に外国人のビザ期限管理システムです。
            登録、更新、削除、検索ができます。
        </div>
        <a class="btnlogin" href="/login">ログイン</a>
        <a class="btnregister" href="/register">登録</a>
    </nav>
</body>
</html>