<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bteam.mapper.DeleteMapper">
    <select id="SelectDeleteId" resultType="com.bteam.model.DeleteModel">
        SELECT id,name,visa,visatype,status FROM visa_user  WHERE id=#{id} AND status!='DELETED'
    </select>
   <update id="DeleteId" parameterType="com.bteam.model.DeleteModel" useGeneratedKeys="true" keyProperty="id">
       UPDATE visa_user SET    status = 'DELETED' WHERE id = #{id}
    </update>
</mapper>